@charset "utf-8";
/* CSS Document */

#loginbox {
	text-align:center;
	vertical-align:middle;
	margin: 15% 40%;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}
#loginbox #logo{
	background-image:url(../images/logo.png);
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	width:100%;
	height:71px;
}
#loginbox #loginform{
	margin-top: 10px;
	color: #59A4FF;
}
#loginbox #loginform #title{
	display:none;
	font-weight:bold;
}
#loginbox #loginform #button{
	margin-top: 10px;
	text-align:right;
	vertical-align:bottom;
}
#loginbox #loginform label {
	color:#5c71a2;
	font-size:90%;
	font-weight:bold;	
	display:block;
	float:left;
	width:100px;
	text-align:right;
	line-height:0px;
	margin:4px 5px 0px 0px;
}
#loginbox #loginform input[type=text],#loginbox #loginform input[type=password]{
	color:#818181;
	border:none;
	background-color:#FFFFFF;
	border-bottom:thin dotted #809431;
}
#loginbox #loginform #kontrol {
	text-align:left;
	vertical-align:middle;
	margin-left:40%;
	margin-top:25px;
	margin-bottom:15px;
}